.main-layout {
    grid-template-rows: 80px 1fr;
    row-gap: 24px;
}

.main-inline-padding {
    padding-inline: 24px;
}

.main-header {
    grid-row: 1;
    grid-column: 1/-1;
}

.main-content {
    grid-row: 2;
    grid-column: 1/-1;

}